
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

<title>My Projects</title>


<style>

	body{	
    	background-size: 100%;
    	background-position: fixed;
    	background-color: #CD5C5C;
	}

	h1{
		font-style: oblique;
		margin-left: 550px;
	}

	.projects{
		border-color: black;
	}

	.home{
		font-style: italic;
		margin-left: 580px;	
	}

	.newproject{
		font-style: italic;
		margin-left: 550px;
	}

	hr{
		background-color: black; height: 1px; border: 0; 
	}

	p.title{
		font-size: 65px;
		margin-left: 320px;
		font-style: oblique;
	}

</style>


<body>

	<p class="title">Finance Web Application</p>
	<hr>

	<h1> My Projects</h1>
	<a class="home" href="home"> Home Page</a></p>

	
	{% for p in projects %}
		{% if u2 == p.client %}
		<a class="projects" href="{% url 'viewproject' p.id %}">Project Name: {{ p.pname }}</a>

		<form method='post' action="{% url 'deleteproject' p.id u.id %}">{% csrf_token %}
		<input type='submit' class="submit" value="Delete">
		</form>

		<br></br>
		{% endif %}
	{% endfor %}

	<br>

    <a class="newproject" href="{% url 'newproject' u.id %}">+ Create a new project</a></p>
    <hr>

    	<form method='post' action="{% url 'search_entries' u.id %}">{% csrf_token %}
    	<p>You can search for entries by name, amount or date.</p>
		<input type='text' name="search_value">
		<select id="item1">
		<option >Select Entry Attribute</option>
  		<option >Name</option>
  		<option >Amount</option>
  		<option >Date</option>
		</select>

		<select id="item2">
		<option >Select Entry Type</option>
  		<option >Revenue</option>
  		<option >Expense</option>
		</select>
		<input type='submit' value="Search for Entry">
		</form>

		<script>
		var selected_attribute = document.getElementById("item1").value;
		selected_attribute.name = item_selected;

		var selected_type  = document.getElementById("item2").value;
		selected_type.name = type_selected;
		</script>

</body>

</html>