	<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
	<html lang="en">	

	<title>Project {{ project.pname }}</title>

	<h1>Overview for {{ cm }}, {{ current_year }}</h1>


	<h3>{{ current_month }}'s Net Profit</h3>
	<label>$ {{ net_profit }}</label>

	<br></br>


	<h3>April's Revenues</h3>

	{% for r in revenues%}
		{% if r.revenue_date.year == current_year %}
			{% if r.revenue_date.month == cm %}
			<label>Revenue Name: {{ r.revenue_name }} </label> 
			<br>
			<label>Revenue Amount: ${{ r.revenue_amount }} </label> 
			<br>
			<label>Revenue Date: {{ r.revenue_date }} </label> 
			<br></br>
			{% endif %}
		{% endif %}
	{% endfor %}


	<h3>April's Expenses</h3>

	{% for x in expenses%}
		{% if x.expense_date.year == current_year %}
			{% if x.expense_date.month == cm %}
			<label>Expense Name: {{ x.ename }} </label> 
			<br>
			<label>Expense Amount: ${{ x.eamount }} </label> 
			<br>
			<label>Expense Date: {{ x.expense_date }} </label> 
			<br></br>
			{% endif %}
		{% endif %}
	{% endfor %}


	<a href="{% url 'viewproject' project.id %}">Go Back</a>

	</html>
