<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
	<title>Finance Web Application | Features </title>
	<link href="/media/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!--fonts-->
		<link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>	
	<!--//fonts-->
		<link href="/media/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<!-- for-mobile-apps -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Avalon Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //for-mobile-apps -->
	<!-- js -->
		<script type="text/javascript" src="/media/js/jquery.min.js"></script>
	<!-- js -->
	<!-- start-smooth-scrolling -->
		<script type="text/javascript" src="/media/js/move-top.js"></script>
		<script type="text/javascript" src="/media/js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
	<!-- start-smooth-scrolling -->

</head>
<body>
<!-- banner -->
<div class="banner pg-head">
	<div class="container">
		<div class="logo head">
			<a href="{% url 'home1' %}"><img src="/media/images/2.jpg" alt=""/></a>
		</div>
		<div class="navigation nv-hd">
				<span class="menu"><img src="/media/images/menu.png" alt=""/></span>
				<ul class="nav1 nl">
					<li><a href="{% url 'about1' %}">ABOUT</a></li>
					<li><a class="active" href="{% url 'services1' %}">FEATURES</a></li>
					<li><a href="{% url 'portfolio1' %}">PORTFOLIO</a></li>
					<li><a href="blog.html">BLOG</a></li>	
					{% if user.is_authenticated %}
					<li><a href="{% url 'myaccount1' user.id %}">ACCOUNT</a></li>
					{% else %}
					<li><a href="{% url 'register1' %}">REGISTER</a></li>
					{% endif %}
					<li><a href="contact.html">CONTACT</a></li>
				</ul>
				<!-- script for menu -->
					<script> 
						$( "span.menu" ).click(function() {
						$( "ul.nav1" ).slideToggle( 300, function() {
						 // Animation complete.
						});
						});
					</script>
				<!-- //script for menu -->
			
		</div>
	</div>
</div>
<!-- //banner -->
<!-- services -->
<div class="services">
	<div class="container">
		<div class="services-info">
			<h2>OUR <span>FEATURES</span></h2>
			<p>
		</div>
		<div class="services-grids">
			<div class="services-grid">
				<img src="/media/images/s1.jpg" alt=""/>
				<p>Track your revenues, you can have records
				of all your revenues along with their date and
				amounts. Statistics will be calculated as well
				by combining these revenues with your expenses
				to show you a graphical representation of your 
				entities.</p>
			</div>
			<div class="services-grid">
				<img src="/media/images/s2.jpg" alt=""/>
				<p>Track your expenses, you can have records
				of all your expenses along with their date and
				amounts. Statistics will be calculated as well
				by combining these expenses with your revenues
				to show you a graphical representation of your 
				entities.</p>
			</div>
			<div class="services-grid">
				<img src="/media/images/s3.jpg" alt=""/>
				<p>Track your net profit, a statistical graph
				can be visible to show you how far your project
				is going. You can also set milestones to reach
				a certain target for your net profit.</p>
			</div>
			<div class="services-grid">
				<img src="/media/images/s4.jpg" alt=""/>
				<p>Search, Edit, or Delete older entries, you
				can make a lot of modifications to your older 
				entries or search in your projects by an expense
				name for example.</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- //services -->
<!-- footer -->
<div class="footer">
	<div class="container">
		<p>Copyright &copy; 2015 Finance Web Application.</p>
	</div>
</div>
<!-- //footer -->
</body>
</html>