<!DOCTYPE html>
<head>
<title>Login</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<style>
body{
    font-family:Arial,Helvetica,sans-serif;
    font-size: 12px;
}
</style>
</head>
<body>
    <h1>Login to Finance Web Application</h1>
    {{ state }}
    <form action="signin" method="post">
        {% csrf_token %} <br/>
        <input type="hidden" name="next" value="{{ next }}" />
        Username: 
        <input type="text" name="username" value="" size="50" /><br />
        Password:
        <input type="password" name="password" value="" size="50"/><br />
        
        <input type="submit" value="Sign In" />
    </form>
</body>
</html>