
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

<title>Project {{ p.pname }}</title>


<style>

	body{	
    	background-size: 100%;
    	background-position: fixed;
    	background-color: #CD5C5C;
	}

	h1{
		margin-left: 500px;
		font-style: oblique;
	}

	hr{
		background-color: black; height: 1px; border: 0; 
	}

	.home{
		font-style: italic;
		margin-left: 580px;	
	}

	.update{
		font-style: italic;
		margin-left: 560px;
	}

	h3{
		font-style: italic;
	}

	p.title{
		font-size: 65px;
		margin-left: 320px;
		font-style: oblique;
	}

</style>


<body>

	<p class="title">Finance Web Application</p>
	<hr>

	<h1>Project Name: {{ p.pname }}</h1> 
	<a class="home" href='/home'> Home Page</a>

	<br>

	<ul class="navigation">
		<li><a href="{% url 'overview_project' p.id %}">Overview</a></li>
		<li><a href="{% url 'viewgrossprofit' p.id %}">Overall Net Profit</a></li>
		<li><a href="{% url 'viewrevenues' p.id %}">Revenues</a></li>
		<li><a href="{% url 'viewexpenses' p.id %}">Expenses</a></li>
		<li><a href="#">Milestones</a></li>	
		<li><a href="{% url 'expenses_chart' p.id%}">Statistics</a></li>
		<li><a href="{% url 'updateproject' p.id %}">Update</a></li>
	</ul>

	<label>{{ current_month }}</label>

	<br>

</body>

</html>